{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceder</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'sass/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <form class="login" method="post">
            {% csrf_token %}
            <p class="title">Acceder</p>
            <input type="text" name="username" placeholder="Usuario" autofocus/>
            <i class="fa fa-user"></i>
            <input type="password" name="password" placeholder="Contraseña" />
            <i class="fa fa-key"></i>            
            {% if messages %}
            <div class="error-messages">
              {% for message in messages %}
                <div class="message">{{ message }}</div>
              {% endfor %}              
            </div>            
            {% endif %}        
            <button type="submit">
              <i class="spinner"></i>
              <span class="state">Listo</span>
            </button>          
          </form>          
          <footer><a href="{% url 'register' %}">Si no tienes cuenta, crea una aquí</a></footer>
        </p>
      </div>    
      <script src="{% static 'js/login.js' %}"></script>
</body>
</html>