<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pedido</title>
</head>
<body>
    <h2>¡Gracias por tu pedido, {{ user.username }}!</h2>
    <p>Detalles de la orden:</p>
    <ul>
        {% for item in order_items %}
            <li>{{ item.quantity }} x {{ item.pizza.name }} - Tamaño: {{ item.pizza.size }} - Precio: ${{ item.total }}</li>
        {% endfor %}
    </ul>
    <p>Total General: ${{ order_items|total_general }}</p>
    <p>¡Esperamos que disfrutes de tu comida!</p>
</body>
</html>
