{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'sass/login.css' %}">
</head>
<body>
    <div class="wrapper">
        <form class="login" method="post">
            {% csrf_token %}
            <p class="title">Registrarse</p>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
            <input type="text" name="username" placeholder="Usuario" autofocus/>
            <i class="fa fa-user"></i>
            <input type="password" name="password1" placeholder="Contraseña" />  <!-- Cambiado a 'password1' -->
            <i class="fa fa-key"></i>
            <input type="password" name="password2" placeholder="Confirmar contraseña" />  <!-- Cambiado a 'password2' -->
            <i class="fa fa-key"></i>
            <button>
                <i class="spinner"></i>
                <span class="state">Listo</span>
            </button>
        </form>        
        <footer><a href="{% url 'login' %}">Regresar</a></footer>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
